.topic-tag {
  display: inline-block;
  margin: 0 .125em .333em 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0 10px;
  line-height: 22px;
  color: $text-blue;
  background-color: $bg-blue-light;
}
