.topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  color: var(--color-accent-fg);
  background-color: var(--color-accent-muted);
  border-radius: 6px;
}
